#--------------------------------------------------------------
# Description: Playbook to email java reports
#--------------------------------------------------------------
- name: Copy nonprod java report
  hosts: svtlinif005
  become: false
  tasks:
    - name: Run date command and register as variable
      # shell: "date -d yesterday +%F"
      shell: "date +%F"
      register: DATE
      ignore_errors: true
    - name: transfer file from nonprod to prod repo
      shell: scp /repository/shared/javaAudit/Java_Reports/nonprod-java-installations_{{ DATE.stdout }}.csv svplinif001:/repository/shared/javaAudit/Java_Reports/nonprod-java-installations_{{ DATE.stdout }}.csv

- name: Send prod java report
  hosts: svplinif001
  become: true
  tasks:
    - name: Run date command and register as variable
      # shell: "date -d yesterday +%F"
      shell: "date +%F"
      register: DATE
      ignore_errors: true

    - name: Send e-mail to a bunch of users, attaching files
      mail:
        subject: Java Reports
        body: Please see attached java reports
        from: ansible@wolseley.co.uk (Java Reports)
        to:
        - 'ben.willoughby@wolseley.co.uk'
        # cc:
        attach:
        - /repository/shared/javaAudit/Java_Reports/nonprod-java-installations_{{ DATE.stdout }}.csv
        - /repository/shared/javaAudit/Java_Reports/prod-java-installations_{{ DATE.stdout }}.csv
        charset: utf8
      delegate_to: localhost
      tags: mail